<!--
  Generated template for the SetupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Setup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Network Setup</h2>
  <h3 *ngIf="!config.isNative">This section is only available on the native mobile app.</h3>
  <button ion-button (click)="showNetworks()">Connect</button>

  <ion-list>
    <button ion-item *ngFor="let network of networks" (click)="selectNetwork(network)">
      {{network.SSID}}
    </button>
  </ion-list>
  <h2>Configuration</h2>

  <button ion-button (click)="save()">Save Settings</button>
  <ion-list>
    <ion-item>
      <ion-label floating>Host Name</ion-label>
      <ion-input required type="text"
                 [(ngModel)]="config.hostName" name="hostname" #name="ngModel"></ion-input>
    </ion-item>
  </ion-list>

    <ion-grid>
      <ion-row class="ingredient-field" *ngFor="let ingredient of initialIngredientNames; let i=index">
        <auto-complete [allChoices]="ingredientSuggestions"
                       [label]="'Position ' + (i + 1)"
                       [initialValue]="ingredient"
                       [suggestionLimit]="5"
                       (onSelected)="ingredientSelected($event, i)"
        ></auto-complete>
      </ion-row>
    </ion-grid>

  <button ion-button (click)="save()">Save</button>
</ion-content>
