<!--
  Generated template for the SetupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Setup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Network Setup</h2>
  <h3 *ngIf="!config.isNative">This section is only available on the native mobile app.</h3>
  <button ion-button (click)="showNetworks()">Connect</button>

  <ion-list>
    <button ion-item *ngFor="let network of networks" (click)="selectNetwork(network)">
      {{network.SSID}}
    </button>
  </ion-list>
  <h2>Configuration</h2>

  <button ion-button (click)="save()">Save Settings</button>
  <ion-list>
    <ion-item>
      <ion-label floating>Host Name</ion-label>
      <ion-input required type="text"
                 [(ngModel)]="config.hostName" name="hostname" #name="ngModel"></ion-input>
    </ion-item>
  </ion-list>

  <form (ngSubmit)="setIngredients()" [formGroup]="ingredientsForm">
    <ion-grid formArrayName="positions">
      <ion-row class="ingredient-field" *ngFor="let position of ingredientsForm.controls.positions.controls; let i=index">
        <ion-item>
          <ion-label floating>Position {{i + 1}}</ion-label>
          <ion-input type="text" formControlName="{{i}}" (keydown)="onKeypress($event.key)"
                     (ionBlur)="clearSuggestions()" (ionFocus)="onFocus(i, $event)"></ion-input>
        </ion-item>
        <ion-list class="ingredient-suggestions" *ngIf="positionFocused === i">
          <button ion-item *ngFor="let ingredient of ingredientSuggestions | slice:0:suggestionLimit; let suggestionIndex=index"
                  [ngClass]="{active: suggestionIndex === currentSuggestion}"
                  (mousedown)="ingredientSelected(ingredient, i)">
            {{ingredient.name}}
          </button>
        </ion-list>
        <small class="validation-message" *ngIf="position.invalid">
          <span *ngIf="position.errors.maxlength">
            Must contain a maximum of 32 letters (including spaces).
          </span>
          <span *ngIf="position.errors.pattern">
            Must contain only letters and spaces.
          </span>
        </small>
      </ion-row>
    </ion-grid>

  </form>
  <button ion-button (click)="save()">Save</button>
</ion-content>
