<ion-header>
  <ion-navbar>
    <ion-title>Sir-Mix-A-Bot</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <h2>Make your drink!</h2>
  <button ion-button round large (click)="getAvailableDrinks()">Available Drinks</button>
  <button ion-button round large (click)="makeRandomDrink()">Surprise Me!</button>
  <br>
  <br>
  <h4>Available Drinks <ion-badge *ngIf="drinks">{{drinks.length}}</ion-badge></h4>

  <div class="drinks" text-left>
    <drink-card *ngFor="let drink of drinks" [drink]="drink"></drink-card>
  </div>
</ion-content>
